.cascadeBlock {
  margin-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* Общие стили для блоков */
.textBlock {
  background: #f5f5f5;
  padding: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
  box-sizing: border-box;
  border-radius: clamp(0.938rem, 0.71rem + 1.14vw, 1.563rem);

  @media screen and (min-width: 768px) {
    flex: 1 1 calc(50% - 16px); /* Две колонки по умолчанию */
    max-width: calc(50% - 16px);
  }
}