.stepCarousel {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  background-color: #fff;
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    padding: 23px 0;
  }
}

.step {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.number {
  color: #091728;
  font-size: clamp(0.875rem, 0.563rem + 1.25vw, 1.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 214.286% */
}

.title {
  color: #F39708;
  font-size: clamp(0.875rem, 0.563rem + 1.25vw, 1.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 214.286% */
}

.stepSection {
  overflow: hidden;
  position: relative;

}

.stepContainer {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1800px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 768px) {
    /* max-width: 100%; */
    padding: 0 22px;
  }
}
.stepWrapper {
  padding-top: clamp(1.563rem, 0.469rem + 4.38vw, 3.75rem);
  padding-bottom: clamp(2.813rem, 2.344rem + 1.88vw, 3.75rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.563rem, 0.469rem + 4.38vw, 3.75rem);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.stepWrapperReverse {
  padding-top: clamp(1.563rem, 0.469rem + 4.38vw, 3.75rem);
  padding-bottom: clamp(2.813rem, 2.344rem + 1.88vw, 3.75rem);
  display: flex;
  flex-direction: column-reverse;
  gap: clamp(1.563rem, 0.469rem + 4.38vw, 3.75rem);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.videoBlock {
  flex: 0 0 33.333%;
}

.contentWrapperAlt {
  display: flex;
  flex-direction: column;
  gap: clamp(1.563rem, 0.938rem + 2.5vw, 2.813rem);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1.563rem, 0.469rem + 4.38vw, 3.75rem);
}

.bigText {
  color: #091728;
  font-size: clamp(1.25rem, 0.875rem + 1.5vw, 2rem);
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -1.26px;

  @media screen and (min-width: 768px) {
    line-height: 42px; /* 131.25% */
    letter-spacing: -2.24px;
  }
}

.subtitle {
  color: #091728;
  font-size: clamp(1.25rem, 0.875rem + 1.5vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.72px;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);

  @media screen and (min-width: 768px) {
    line-height: 42px; /* 131.25% */
  }
}

.stepOneItems {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 45px;
  }
}

.stepOneItem {
  display: flex;
  flex-direction: column;
  gap: clamp(0.938rem, 0.781rem + 0.63vw, 1.25rem);

  @media (min-width: 768px) {
    max-width: 180px;
  }

  p {
    color: #091728;
    font-size: clamp(1rem, 0.938rem + 0.25vw, 1.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.56px;

    @media screen and (min-width: 768px) {
      line-height: 23px; /* 143.75% */
      letter-spacing: -0.64px;
    }
  }
}

.button {
  padding-top: 27px;
  padding-bottom: 27px;
  border: 1px solid #F39708;
  border-radius: 500px;
  background: #F39708;
  color: #FFF;
  text-align: center;
  font-size: clamp(1rem, 0.813rem + 0.75vw, 1.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  width: 100%;
  transition: all 0.2s ease-in-out;

  @media screen and (min-width: 768px) {
    letter-spacing: -0.66px;

    &:hover {
      background: transparent;
      color: #F39708;
    }
  }
}

.littleText {
  color: #091728;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;

  @media screen and (min-width: 768px) {
    line-height: 23px; /* 143.75% */
    letter-spacing: -0.64px;
    max-width: 384px;
  }
}

.stepTwoData {
  display: flex;
  flex-direction: column;
  gap: clamp(0.938rem, 0.625rem + 1.25vw, 1.563rem);
}

.stepTwoItem {
  color: #091728;
  font-size: clamp(1.25rem, 0.875rem + 1.5vw, 2rem);
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -1.26px;

  @media screen and (min-width: 768px) {
    line-height: 42px; /* 131.25% */
    letter-spacing: -2.24px;
  }
}

.substeps {
  display: flex;
  flex-direction: column;
  gap: clamp(1.563rem, 0.938rem + 2.5vw, 2.813rem);
}

.substep {
  display: flex;
  flex-direction: column;
  gap: clamp(0.625rem, -0.469rem + 4.38vw, 2.813rem);

  @media screen and (min-width: 768px) {
    max-width: 208px;
  }
}

.contentBlock {

  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.substep:nth-child(2) {
  position: absolute;
  left: 300px;
  top: 50%;
  transform: translateY(-50%);
}

.substepTitle {
  color: #091728;
  font-size: clamp(2.5rem, 1.75rem + 3vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
}

.substepText {
  color: #091728;
  font-size: clamp(1.125rem, 1.063rem + 0.25vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.98px;

  @media screen and (min-width: 768px) {
    line-height: 30px; /* 150% */
    letter-spacing: -1.4px;
  }
}

.stepList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    max-width: 655px;
  }
}

.stepListItem {
  position: relative;
  padding-left: 20px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #091728;

    @media screen and (min-width: 768px) {
      top: 15px;
      width: 10px;
      height: 10px;
    }
  }
}

.imageBlock {
  position: relative;
  aspect-ratio: 410 / 650;
  border-radius: 25px;
  overflow: hidden;
}