.faculties {
  // margin-bottom: clamp(2.813rem, 1.094rem + 6.88vw, 6.25rem);
}

.title {
  color: #091728;
  font-size: clamp(1.5rem, 0.531rem + 3.88vw, 3.438rem);
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -1.68px;
  margin-bottom: clamp(1.563rem, 0.469rem + 4.38vw, 3.75rem);

  @media screen and (min-width: 768px) {
    line-height: 75px; /* 136.364% */
    letter-spacing: -3.85px;
  }
}