.lastArticles {
  margin-bottom: clamp(2.813rem, 1.094rem + 6.88vw, 6.25rem);
}

.title {
  color: #091728;
  font-size: clamp(1.5rem, 0.531rem + 3.88vw, 3.438rem);
  font-style: normal;
  font-weight: 500;
  line-height: 75px; /* 125% */
  letter-spacing: -1.68px;
  margin-bottom: clamp(0.625rem, -0.938rem + 6.25vw, 3.75rem);

  @media screen and (max-width: 768px){
    line-height: 30px; /* 136.364% */
    letter-spacing: unset;
  }
}

.articles {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px){
    gap: 30px;
  }
}

.article {
  flex: 0 1 calc(100% / 2 - 5px);
  position: relative;
  overflow: hidden;
  border-radius: clamp(1.25rem, 1.094rem + 0.63vw, 1.563rem);

  @media screen and (min-width: 768px){
    flex: 1 0 auto;

    &:hover {
      .imageBlock img {
        transform: scale(1.03);
      }
    }
  }

  @media screen and (min-width: 980px){
    flex: 0 1 calc(100% / 4 - 30px);
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(9, 23, 40, 0.00) 12.07%, #091728 100%);
}

.imageBlock {
  position: relative;
  // border-radius: clamp(1.25rem, 1.094rem + 0.63vw, 1.563rem);
  overflow: hidden;
  aspect-ratio: 132/179;

  @media screen and (min-width: 1200px){
    aspect-ratio: 1/1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }
}

.content {
  position: absolute;
  z-index: 2;
  inset: 0;
  height: 100%;
  // bottom: clamp(0.938rem, 0.188rem + 3vw, 2.438rem);
  // left: clamp(1rem, -0.063rem + 4.25vw, 3.125rem);
}

.contentWrapper {
  padding: clamp(0.625rem, 0.187rem + 1.75vw, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.articleCategory {
  padding: 3px 15px;
  border-radius: clamp(19.688rem, 13.906rem + 23.13vw, 31.25rem);
  background: #FFF;
  color: #F39708;
  text-align: center;
  font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: 15.167px; /* 189.583% */
  letter-spacing: -0.32px;
  width: fit-content;

  @media screen and (min-width: 768px){
    line-height: 24px; /* 150% */
    letter-spacing: -0.64px;
  }
}

.contentBottom {
  display: flex;
  flex-direction: column;
  gap: clamp(0.313rem, -0.156rem + 1.88vw, 1.25rem);
}

.articleDate {
  color: #FFF;
  font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: -0.4px;

  @media screen and (min-width: 768px){
    letter-spacing: -0.64px;
  }
}

.articleTitle {
  color: #FFF;
  font-size: clamp(0.75rem, 0.375rem + 1.5vw, 1.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  position: relative;
  text-decoration: underline;

  @media screen and (min-width: 768px){
    line-height: 34px; 
  }
}
