.pageTitle {
  color: #091728;
  font-size: clamp(1.5rem, 0.531rem + 3.88vw, 3.438rem);
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -1.68px;
  margin-bottom: clamp(1.625rem, 0.562rem + 4.25vw, 3.75rem);

  @media screen and (min-width: 768px){
    line-height: 75px; /* 136.364% */
    letter-spacing: -3.85px;
  }
}