@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F5F5F5;
}

.container {
  max-width: 1755px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1800px) {
    padding: 0 20px;
  }

  /* @media screen and (max-width: 1600px) {
    max-width: 1440px;
  } */

  /* @media screen and (max-width: 1440px) {
    max-width: 1280px;
  } */

  /* @media screen and (max-width: 1280px) {
    max-width: 1140px;
  } */

  @media screen and (max-width: 768px) {
    /* max-width: 100%; */
    padding: 0 22px;
  }
}

/* styles for the flag */
.PhoneInputInput {
  height: 100%;
  background-color: #f5f5f5;
}

.PhoneInputInput:focus {
  outline: none;
}

.PhoneInputCountry {
  left: -5px;

  @media screen and (min-width: 768px) {
    left: -20px;
  }
}

.PhoneInputCountrySelectArrow {
  display: none !important;
}

.grayscale-flag img {
  filter: grayscale(100%);
}
/* styles for the flag */

/* styles for the post */
.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
  margin-top: 100px;
  margin-bottom: clamp(1.25rem, -1.25rem + 10vw, 6.25rem);
}

@media screen and (min-width: 980px) {
  .post-grid {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .post-grid {
    grid-template-columns: 3fr 1fr;
  }
}
/* styles for the post */