@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F5F5F5;
}

.container {
  max-width: 1755px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1800px) {
    padding: 0 20px;
  }

  /* @media screen and (max-width: 1600px) {
    max-width: 1440px;
  } */

  /* @media screen and (max-width: 1440px) {
    max-width: 1280px;
  } */

  /* @media screen and (max-width: 1280px) {
    max-width: 1140px;
  } */

  @media screen and (max-width: 768px) {
    /* max-width: 100%; */
    padding: 0 22px;
  }
}

.container-content {
  padding-left: max(20px,(100% - 1730px) / 2);

  @media screen and (max-width: 980px){
    padding-left: 20px;
    padding-right: 0;
  }
}

/* styles for the flag */
.PhoneInputInput {
  height: 100%;
  background-color: #f5f5f5;
}

.PhoneInputInput:focus {
  outline: none;
}

.PhoneInputCountry {
  left: -5px;

  @media screen and (min-width: 768px) {
    left: -20px;
  }
}

.PhoneInputCountrySelectArrow {
  display: none !important;
}

.PhoneInputInternationalIconPhone {
  stroke: #F39708; /* Цвет линии */
  fill: #F39708; /* Цвет заливки */
  stroke-width: 3px; /* Толщина линии */
  width: 32px; /* Ширина значка */
  height: 32px; /* Высота значка */
}

.PhoneInputInternationalIconGlobe {
  stroke: #F39708; /* Цвет линии */
  stroke-width: 3px; /* Толщина линии */
  width: 32px; /* Ширина значка */
  height: 32px; /* Высота значка */
}

.PhoneInputCountryIcon {
  margin-right: 8px; /* Отступ справа */
}


.grayscale-flag img {
  filter: grayscale(100%);
}
/* styles for the flag */

/* styles for the post */
.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
  margin-top: 100px;
  margin-bottom: clamp(1.25rem, -1.25rem + 10vw, 6.25rem);
}

@media screen and (min-width: 980px) {
  .post-grid {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .post-grid {
    grid-template-columns: 3fr 1fr;
  }
}
/* styles for the post */

/* styles for loader */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #F39708;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  @media screen and (min-width: 480px){
    width: 100px;
    height: 100px;
  }

  @media screen and (min-width: 768px){
    width: 150px;
    height: 150px;
  }

  @media screen and (min-width: 980px){
    width: 200px;
    height: 200px;
  }

  @media screen and (min-width: 1280px){
    width: 250px;
    height: 250px;
  }
}

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    } 
/* styles for loader */

.no-scroll {
  overflow: hidden;
}