.doubleTextBlock {
  margin-bottom: 70px;
}

.wrapper {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 980px) {
    flex-direction: column;
  }
}

.textBlock,
.imageBlock {
  flex: 1; // Обеспечивает равное распределение
}

.imageBlock {
  border-radius: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  overflow: hidden;
}